# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/
public/

# Environment files
.env
.env.local
.env.*.local

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp

# Coverage directory used by testing tools
coverage/