node_modules/
package-lock.json

.env
.env.local
.env.*.local

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp

# Miscellaneous
*.yml
*.yaml
/src/docs/
/src/experiment/
