---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.css"
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <div class="py-6">
            <span>Change theme</span>
            <ThemeSwitcher/>
        </div>

        <h1>Welcome to <span class="text-gradient">Arts Oven UI</span></h1>
        <h2 class="py-2 text-2xl">Buttons</h2>
        <h3 class="py-2 text-lg">Solid Buttons</h3>

        <div class="py-6">
            <h3 class="py-2 text-lg">Dropdown hover</h3>
            <div class="dropdown dropdown-hover">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>

            <div class="dropdown dropdown-hover dropdown-end">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>

            <div class="dropdown dropdown-hover dropdown-top">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>

        </div>

        <div class="py-6">
            <details class="dropdown">
                <summary class="btn">Toggle Dropdown</summary>
                <div class="dropdown-menu">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </details>

            <details class="dropdown dropdown-top">
                <summary class="btn btn-primary">Toggle Dropdown</summary>
                <div class="dropdown-menu">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </details>

            <details class="dropdown">
                <summary class="btn btn-secondary">Toggle Dropdown</summary>
                <div class="dropdown-menu">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </details>

        </div>

        <div class="py-6">
            <h3 class="py-2 text-lg">Dropdown</h3>
            <div class="dropdown">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>
        </div>

        <div class="py-6">
            <h3 class="py-2 text-lg">Dropdown End</h3>
            <div class="dropdown dropdown-end">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>
        </div>

        <div class="py-6">
            <h3 class="py-2 text-lg">Dropdown top</h3>
            <div class="dropdown dropdown-top">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>
        </div>

        <div class="py-6">
            <h3 class="py-2 text-lg">Dropdown top end</h3>
            <div class="dropdown dropdown-top dropdown-end">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>
        </div>

        <div class="py-6">
            <h3 class="py-2 text-lg">Dropdown bottom end</h3>
            <div class="dropdown dropdown-bottom dropdown-end">
                <div class="btn" tabindex="0">Dropdown</div>
                <div class="dropdown-menu w-56">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>
            </div>
        </div>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        //color: white;
        line-height: 1.6;
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }
    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }
    .instructions strong {
        color: rgb(var(--accent-light));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
