---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.css"
---

<Layout title="Welcome to Astro.">
    <main>
        <div class="py-6">
            <span>Change theme</span>
            <div class="flex space-x-4">
                <button data-set-theme="light" data-act-class="ACTIVECLASS">Light</button>
                <button data-set-theme="dark" data-act-class="ACTIVECLASS">Dark</button>
                <button data-set-theme="rose" data-act-class="ACTIVECLASS">Rose</button>
            </div>
        </div>

        <h1>Welcome to <span class="text-gradient">Arts Oven UI</span></h1>
        <h2 class="py-2 text-2xl">Buttons</h2>
        <h3 class="py-2 text-lg">Solid Buttons</h3>

        <div class="py-6">
            <h3 class="py-2 text-lg">Tabs</h3>

            <form>
                <fieldset class="form-group">
                    <div>
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-input" placeholder="First Name">
                    </div>

                    <div>
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-input" placeholder="Last Name">
                    </div>

                    <div>
                        <label class="form-label">Gender</label>
                        <select class="form-input">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>

                    <div>
                        <label class="form-label">Email</label>
                        <input type="email" class="form-input" placeholder="Email">
                    </div>

                    <div class="col-span-2">
                        <label class="form-label">Description</label>
                        <textarea class="form-input" placeholder="Description"></textarea>
                    </div>

                    <div class="flex items-center">
                        <input type="radio" name="gender" class="form-radio">
                        <label class="form-label">Male</label>
                    </div>

                    <div class="flex items-center">
                        <input type="radio" name="gender" class="form-radio">
                        <label class="form-label">Female</label>
                    </div>

                    <div class="flex items-center">
                        <input type="checkbox" name="gender" class="form-check">
                        <label class="form-label">Male</label>
                    </div>

                    <div class="flex items-center">
                        <input type="checkbox" name="gender" class="form-check">
                        <label class="form-label">Female</label>
                    </div>

                    <div class="flex items-center">
                        <input type="checkbox" name="gender" class="form-switch">
                        <label class="form-label">Male</label>
                    </div>

                    <div class="flex items-center">
                        <input type="checkbox" name="gender" class="form-switch">
                        <label class="form-label">Male</label>
                    </div>

                    <div>
                        <label class="form-file">
                            <input type="file" name="image">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 22H15.5C20.5 22 22.5 20 22.5 15V9C22.5 4 20.5 2 15.5 2H9.5C4.5 2 2.5 4 2.5 9V15C2.5 20 4.5 22 9.5 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.5 10C10.6046 10 11.5 9.10457 11.5 8C11.5 6.89543 10.6046 6 9.5 6C8.39543 6 7.5 6.89543 7.5 8C7.5 9.10457 8.39543 10 9.5 10Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.17001 18.9501L8.10001 15.6401C8.89001 15.1101 10.03 15.1701 10.74 15.7801L11.07 16.0701C11.85 16.7401 13.11 16.7401 13.89 16.0701L18.05 12.5001C18.83 11.8301 20.09 11.8301 20.87 12.5001L22.5 13.9001" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Thumbnail
                        </label>
                    </div>

                    <div>
                        <label class="form-file">
                            <input type="file" name="image">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.0601 16.5V11.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.5 14H9.5" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22 11V17C22 21 21 22 17 22H7C3 22 2 21 2 17V7C2 3 3 2 7 2H8.5C10 2 10.33 2.44 10.9 3.2L12.4 5.2C12.78 5.7 13 6 14 6H17C21 6 22 7 22 11Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
                            </svg>
                            Document
                        </label>
                    </div>

                    <div class="input-group">
                        <span>@</span>
                        <input type="email" class="form-input" placeholder="Email">
                    </div>

                    <div class="input-group">
                        <input type="email" class="form-input" placeholder="Price">
                        <span>LKR</span>
                    </div>

                    <div class="input-group">
                        <span>LKR</span>
                        <input type="email" class="form-input" placeholder="Price">
                        <span>.00</span>
                    </div>

                    <div class="input-group">
                        <span>Rs.</span>
                        <input type="email" class="form-input" placeholder="Price">
                        <button type="button" class="btn btn-outline">Submit</button>
                    </div>

                </fieldset>
            </form>
        </div>

    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        //color: white;
        line-height: 1.6;
    }

    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }

    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }

    .instructions strong {
        color: rgb(var(--accent-light));
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }
</style>
