.btn {
    & {
        @apply gap-2 text-base;
        padding: var(--btn-padding-y, .5rem) var(--btn-padding-x, 1.5rem);

        &-lg {
            @apply text-lg;
            padding: var(--btn-lg-padding-y, .75rem) var(--btn-lg-padding-x, 3rem);
        }

        &-sm {
            @apply text-sm;
            padding: var(--btn-sm-padding-y, .25rem) var(--btn-sm-padding-x, 1rem);
        }

        &-xs {
            @apply text-xs;
            padding: var(--btn-xs-padding-y, .15rem) var(--btn-xs-padding-x, .75rem);
        }

        &-wide {
            padding: var(--btn-wide-padding-y, .5rem) var(--btn-wide-padding-x, 4rem);
        }
    }
}