.form-input {
    @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
    placeholder-slate-400 text-sm sm:text-base w-full appearance-none;
    padding: var(--input-padding-y, .5rem) var(--input-padding-x, 1rem);
    border-radius: var(--input-border-radius, var(--btn-border-radius, var(--border-radius, 0.75rem)));
    background-color: var(--input-background-color, transparent);
    border: var(--input-border-width, 1px) solid;
    &:valid {
        border-color: var(--input-border-color, var(--input-border-color, var(--color-border)));
    }
    &:invalid {
        border-color: var(--input-error-border-color, var(--color-error));
    }
}

.input-sm {
    --input-padding-y: var(--input-padding-y-sm, .25rem);
    --input-padding-x: var(--input-padding-x-sm, .5rem);
    @apply text-xs;
}

.input-lg {
    --input-padding-y: var(--input-padding-y-lg, .75rem);
    --input-padding-x: var(--input-padding-x-lg, 1.5rem);
    @apply text-lg;
}

/* Hide the input field */
.form-file input[type="file"] {
    @apply absolute size-0.5 overflow-hidden border-0;
    clip: rect(0, 0, 0, 0);
}

/* Style the label as a button */
.form-file {
    @apply inline-flex gap-2 px-4 py-2 bg-secondary text-white rounded-xl cursor-pointer;
}