.form-input {
    @apply block focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
    placeholder-slate-400 text-sm sm:text-base w-full appearance-none;
    padding: var(--input-padding-y, .5rem) var(--input-padding-x, 1rem);
    border-radius: var(--input-border-radius, var(--btn-border-radius, var(--border-radius, 0.75rem)));
    background-color: var(--input-background-color, transparent);
    border: var(--input-border-width, 1px) solid var(--input-border-color, var(--input-border-color, var(--color-border)));
}

select.form-input, input[list] {
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16px) calc(1px + 50%);
    background-size: 4px 5px, 4px 5px;
    background-repeat: no-repeat;
}

.input-sm {
    --input-padding-y: var(--input-padding-y-sm, .25rem);
    @apply text-xs;
}

.input-lg {
    --input-padding-y: var(--input-padding-y-lg, .75rem);
    @apply text-lg;
}