.form-switch {
    @apply relative appearance-none rounded-full h-6 w-10 bg-base-300 cursor-pointer;

    &:checked {
        @apply bg-primary;
    }
}

.form-switch:before {
    content: '';
    background-color: white;
    @apply h-4 w-4 absolute left-1 top-1/2 transform -translate-y-1/2 rounded-full transition;
}

.form-switch:checked:before {
    @apply translate-x-4; /* Moves the knob to the right when checked */
}

/* Vertical */
.form-switch-vertical {
    @apply relative appearance-none rounded-md h-6 w-10 bg-base-300 cursor-pointer;

    &:checked {
        @apply bg-primary;
    }
}

.form-switch-vertical:before {
    content: '';
    background-color: white;
    @apply h-2 w-8 absolute shadow-inner top-1 left-1/2 transform rounded-full -translate-x-1/2 transition;
}

.form-switch-vertical:checked:before {
    @apply translate-y-2; /* Moves the knob to the right when checked */
}

