.alert {
    & {
        background-color: var(--alert-color, var(--color-base-200));
        color: var(--alert-text, var(--color-text));
        border: var(--alert-border-width, 1px) solid var(--color-border, var(--alert-color));
        border-radius: var(--border-radius, 0.375rem);
        &-primary {
            --alert-color: var(--color-primary);
            --alert-text: white;
        }
        &-secondary {
            --alert-color: var(--color-secondary);
            --alert-text: white;

        }
        &-info {
            --alert-color: var(--color-info);
            --alert-text: white;
        }
        &-warning {
            --alert-color: var(--color-warning);
            --alert-text: white;
        }
        &-success {
            --alert-color: var(--color-success);
            --alert-text: white;
        }
        &-error {
            --alert-color: var(--color-error);
            --alert-text: white;
        }
        &-outline {
            & {
                --alert-color: transparent;
                --color-border: var(--color-text);
                --alert-text: var(--color-text)
            }
            &-primary {
                --alert-color: transparent;
                --color-border: var(--color-primary);
                --alert-text: var(--color-primary)
            }
            &-secondary {
                --alert-color: transparent;
                --color-border: var(--color-secondary);
                --alert-text: var(--color-secondary)
            }
            &-info {
                --alert-color: transparent;
                --color-border: var(--color-info);
                --alert-text: var(--color-info)
            }
            &-warning {
                --alert-color: transparent;
                --color-border: var(--color-warning);
                --alert-text: var(--color-warning)
            }
            &-success {
                --alert-color: transparent;
                --color-border: var(--color-success);
                --alert-text: var(--color-success)
            }
            &-error {
                --alert-color: transparent;
                --color-border: var(--color-error);
                --alert-text: var(--color-error)
            }

        }
    }

}
