.alert {
    & {
        background-color: var(--alert-color, var(--color-base-100));
        color: var(--alert-text-color, var(--alert-text, var(--color-text)));
        border: var(--alert-border, none);
        border-radius: var(--alert-border-radius, 0.375rem);
        &-primary {
            --alert-color: var(--color-primary);
            --alert-text: var(--alert-primary-text-color, #FFFFFF);
        }
        &-secondary {
            --alert-color: var(--color-secondary);
            --alert-text: var(--alert-secondary-text-color, #FFFFFF);

        }
        &-info {
            --alert-color: var(--color-info);
            --alert-text: var(--alert-info-text-color, #FFFFFF);
        }
        &-warning {
            --alert-color: var(--color-warning);
            --alert-text: var(--alert-warning-text-color, #FFFFFF);
        }
        &-success {
            --alert-color: var(--color-success);
            --alert-text: var(--alert-success-text-color, #FFFFFF);
        }
        &-error {
            --alert-color: var(--color-error);
            --alert-text: var(--alert-error-text-color, #FFFFFF);
        }
        &-outline {
            & {
                --alert-color: transparent;
                --alert-border: var(--alert-border-size, 1px) solid var(--color-text);
                --alert-text: var(--color-text)
            }
            &-primary {
                --alert-color: transparent;
                --alert-border: var(--alert-border-size, 1px) solid var(--color-primary);
                --alert-text: var(--color-primary)
            }
            &-secondary {
                --alert-color: transparent;
                --alert-border: var(--alert-border-size, 1px) solid var(--color-secondary);
                --alert-text: var(--color-secondary)
            }
            &-info {
                --alert-color: transparent;
                --alert-border: var(--alert-border-size, 1px) solid var(--color-info);
                --alert-text: var(--color-info)
            }
            &-warning {
                --alert-color: transparent;
                --alert-border: var(--alert-border-size, 1px) solid var(--color-warning);
                --alert-text: var(--color-warning)
            }
            &-success {
                --alert-color: transparent;
                --alert-border: var(--alert-border-size, 1px) solid var(--color-success);
                --alert-text: var(--color-success)
            }
            &-error {
                --alert-color: transparent;
                --alert-border: var(--alert-border-size, 1px) solid var(--color-error);
                --alert-text: var(--color-error)
            }

        }
    }

}
