.dropdown {
    .dropdown-menu {
        border: var(--dropdown-border-width, 1px) solid var(--color-border);
        background-color: var(--color-base-100, #ffffff);
        border-radius: var(--border-radius, 5px);

        a:hover {
            background-color: var(--color-base-200);
        }
    }

    /* Arrow icon after the button */
    .btn::after {
        @apply float-right ml-2 transition-transform ease-out;
        content: var(--dropdown-icon, '\23f7'); /* Default downward arrow */
    }

    /* Change arrow direction when the button is focused */
    .btn:focus::after {
        transform: rotate(180deg);
    }
}

/* Modify icon for top dropdowns */
.dropdown.dropdown-top {
    --dropdown-icon: '\23f6';       /* Upward arrow */
}
