.progress {
    & {
        &::-webkit-progress-bar {
            background-color: var(--progress-bg-color, var(--color-base-200, lightgray))
        }
        &::-webkit-progress-value {
            background-color: var(--progress-color, slategray)
        }
        &::-moz-progress-bar {
            background-color: var(--progress-color, slategray)
        }
        &-primary {
            --progress-color: var(--color-primary);
        }
        &-secondary {
            --progress-color: var(--color-secondary);
        }
        &-info {
            --progress-color: var(--color-info);
        }
        &-warning {
            --progress-color: var(--color-warning);
        }
        &-success {
            --progress-color: var(--color-success);
        }
        &-error{
            --progress-color: var(--color-error);
        }
    }
}