:root {
    --bleeded-carousel-border-radius: 1.5rem;
}

.astro-code {
    @apply px-4 py-5 rounded-xl;
}

starlight-tabs .astro-code {
    @apply px-4 py-5 rounded-none rounded-b-xl mb-4;
}

starlight-tabs .astro-code:not(:first-child) {
    @apply rounded-xl;
}

h1 {
    @apply !text-4xl !font-bold;
}

h2 {
    @apply !text-3xl !font-semibold;
}

h3 {
    @apply !text-2xl !font-medium;
}

p {
    @apply !text-lg;
}

a:is(p a) {
    @apply underline underline-offset-4 text-info;
}

/* Copy to clipboard */
.copy-btn {
    @apply absolute top-2.5 right-2.5 px-2 py-1 bg-slate-600 text-white border-none cursor-pointer text-xs rounded;
}

.copy-btn:hover {
    @apply bg-blue-600;
}

.sidebar {
    .collapse-box {
        .collapse-label {
            @apply !py-1.5;
        }

        .collapse-label::after {
            @apply top-2.5;
        }

        .collapse-content {
            ul {
                li {
                    a {
                        color: color-mix(in srgb, hsl(0, 0%, 100%) 80%, var(--color-text) 95%);

                        &:hover {
                            color: color-mix(in srgb, hsl(0, 0%, 100%), var(--color-text) 80%);
                        }
                    }
                }
            }
        }
    }
}

code:not(pre code) {
    @apply bg-base-100 px-2 py-1 rounded text-slate-500;
}

.canvas-bg {
    background-color: var(--color-base-100);
    background-image: radial-gradient(circle, var(--color-base-300) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 30px 30px;
}

ul:not(aside ul):not(starlight-tabs ul) {
    @apply pl-8;

    li {
        @apply py-2 list-disc;
    }
}