---
import { Image } from 'astro:assets';
import carzyImoji from '../assets/crazy.gif';
---

<div class="relative">
    <div class="relative z-10">
        <div class="text-center">
            <Image class="py-10 mx-auto" width="100px" src={carzyImoji} alt="Logo"/>
            <h2 class="text-5xl font-semibold mb-6">Tailwind + Arts Oven</h2>
            <h3 class="text-2xl mb-10 bg-gradient-to-r from-primary to-orange-300 inline-block text-transparent bg-clip-text">Bake your tailwind cake</h3>
            <p class="text-lg block mb-20 max-w-4xl mx-auto">Using Tailwind CSS directly often requires a lot of repetitive work to structure and style components. With
                Arts Oven, you're provided with a library of pre-designed components that can be easily customized and reused,
                drastically reducing development time.
            </p>
        </div>
        <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-6 mb-10">

            <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
                <div class="flex gap-4 items-center">
                    <div class="border-4 border-orange-600 bg-orange-900 p-4 rounded-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.5 9.75C16.3284 9.75 17 9.07843 17 8.25C17 7.42157 16.3284 6.75 15.5 6.75C14.6716 6.75 14 7.42157 14 8.25C14 9.07843 14.6716 9.75 15.5 9.75Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.5 9.75C9.32843 9.75 10 9.07843 10 8.25C10 7.42157 9.32843 6.75 8.5 6.75C7.67157 6.75 7 7.42157 7 8.25C7 9.07843 7.67157 9.75 8.5 9.75Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.4 13.3H15.6C16.1 13.3 16.5 13.7 16.5 14.2C16.5 16.69 14.49 18.7 12 18.7C9.51 18.7 7.5 16.69 7.5 14.2C7.5 13.7 7.9 13.3 8.4 13.3Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="font-semibold">Pre-built components, easy setup</span>
                </div>
            </div>

            <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
                <div class="flex gap-4 items-center">
                    <div class="border-4 border-sky-600 bg-sky-900 p-4 rounded-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.1709 7.43994L12.0009 12.5499L20.7709 7.46994" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.001 21.61V12.54" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.93111 2.48004L4.59111 5.44004C3.38111 6.11004 2.39111 7.79004 2.39111 9.17004V14.82C2.39111 16.2 3.38111 17.88 4.59111 18.55L9.93111 21.52C11.0711 22.15 12.9411 22.15 14.0811 21.52L19.4211 18.55C20.6311 17.88 21.6211 16.2 21.6211 14.82V9.17004C21.6211 7.79004 20.6311 6.11004 19.4211 5.44004L14.0811 2.47004C12.9311 1.84004 11.0711 1.84004 9.93111 2.48004Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="font-semibold">Ready-to-use, flexible components</span>
                </div>
            </div>

            <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
                <div class="flex gap-4 items-center">
                    <div class="border-4 border-lime-600 bg-lime-900 p-4 rounded-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 4.5V18C10 19.08 9.55999 20.07 8.85999 20.79L8.82001 20.83C8.73001 20.92 8.63001 21.01 8.54001 21.08C8.24001 21.34 7.89999 21.54 7.54999 21.68C7.43999 21.73 7.33 21.77 7.22 21.81C6.83 21.94 6.41 22 6 22C5.73 22 5.46001 21.97 5.20001 21.92C5.07001 21.89 4.94 21.86 4.81 21.82C4.65 21.77 4.50001 21.72 4.35001 21.65C4.35001 21.64 4.35 21.64 4.34 21.65C4.06 21.51 3.79001 21.35 3.54001 21.16L3.53 21.15C3.4 21.05 3.28001 20.95 3.17001 20.83C3.06001 20.71 2.95 20.59 2.84 20.46C2.65 20.21 2.49001 19.94 2.35001 19.66C2.36001 19.65 2.36001 19.65 2.35001 19.65C2.35001 19.65 2.35 19.64 2.34 19.63C2.28 19.49 2.22999 19.34 2.17999 19.19C2.13999 19.06 2.10999 18.93 2.07999 18.8C2.02999 18.54 2 18.27 2 18V4.5C2 3 3 2 4.5 2H7.5C9 2 10 3 10 4.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22 16.5V19.5C22 21 21 22 19.5 22H6C6.41 22 6.83 21.94 7.22 21.81C7.33 21.77 7.43999 21.73 7.54999 21.68C7.89999 21.54 8.24001 21.34 8.54001 21.08C8.63001 21.01 8.73001 20.92 8.82001 20.83L8.85999 20.79L15.66 14H19.5C21 14 22 15 22 16.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.81018 21.82C4.21018 21.64 3.6402 21.31 3.1702 20.83C2.6902 20.36 2.36018 19.79 2.18018 19.19C2.57018 20.44 3.56018 21.43 4.81018 21.82Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.3699 11.29L15.6599 14L8.85986 20.79C9.55986 20.07 9.99988 19.08 9.99988 18V8.34L12.7099 5.63001C13.7699 4.57001 15.1899 4.57001 16.2499 5.63001L18.3699 7.75C19.4299 8.81 19.4299 10.23 18.3699 11.29Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 19C6.55228 19 7 18.5523 7 18C7 17.4477 6.55228 17 6 17C5.44772 17 5 17.4477 5 18C5 18.5523 5.44772 19 6 19Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="font-semibold">Advanced, built-in theming system</span>
                </div>
            </div>

            <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
                <div class="flex gap-4 items-center">
                    <div class="border-4 border-indigo-600 bg-indigo-900 p-4 rounded-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.0901 13.2799H9.1801V20.4799C9.1801 22.1599 10.0901 22.4999 11.2001 21.2399L18.7701 12.6399C19.7001 11.5899 19.3101 10.7199 17.9001 10.7199H14.8101V3.5199C14.8101 1.8399 13.9001 1.4999 12.7901 2.7599L5.2201 11.3599C4.3001 12.4199 4.6901 13.2799 6.0901 13.2799Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="font-semibold">Accelerates development speed</span>
                </div>
            </div>

            <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
                <div class="flex gap-4 items-center">
                    <div class="border-4 border-green-600 bg-green-900 p-4 rounded-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.96 6.16992C18.96 7.55992 20.34 9.76992 20.62 12.3199" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.49023 12.37C3.75023 9.82997 5.11023 7.61997 7.09023 6.21997" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.18994 20.9399C9.34994 21.5299 10.6699 21.8599 12.0599 21.8599C13.3999 21.8599 14.6599 21.5599 15.7899 21.0099" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.0598 7.69989C13.5951 7.69989 14.8398 6.45524 14.8398 4.91989C14.8398 3.38454 13.5951 2.13989 12.0598 2.13989C10.5244 2.13989 9.27979 3.38454 9.27979 4.91989C9.27979 6.45524 10.5244 7.69989 12.0598 7.69989Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.8298 19.9201C6.36516 19.9201 7.60981 18.6755 7.60981 17.1401C7.60981 15.6048 6.36516 14.3601 4.8298 14.3601C3.29445 14.3601 2.0498 15.6048 2.0498 17.1401C2.0498 18.6755 3.29445 19.9201 4.8298 19.9201Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.1701 19.9201C20.7055 19.9201 21.9501 18.6755 21.9501 17.1401C21.9501 15.6048 20.7055 14.3601 19.1701 14.3601C17.6348 14.3601 16.3901 15.6048 16.3901 17.1401C16.3901 18.6755 17.6348 19.9201 19.1701 19.9201Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="font-semibold">Highly reusable across projects</span>
                </div>
            </div>

            <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
                <div class="flex gap-4 items-center">
                    <div class="border-4 border-pink-600 bg-pink-900 p-4 rounded-full">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 22H7C3 22 2 21 2 17V15C2 11 3 10 7 10H17C21 10 22 11 22 15V17C22 21 21 22 17 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 10V8C6 4.69 7 2 12 2C16.5 2 18 4 18 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 18.5C13.3807 18.5 14.5 17.3807 14.5 16C14.5 14.6193 13.3807 13.5 12 13.5C10.6193 13.5 9.5 14.6193 9.5 16C9.5 17.3807 10.6193 18.5 12 18.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="font-semibold">It's Open Source & Free forever</span>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .circle-shape {
        @apply bg-cyan-500 size-96 transform -translate-x-0 top-1/2 rounded-full filter blur-3xl opacity-30 absolute left-0 animate-pulse mx-auto z-[1];
    }
</style>