---

---
<div class="z-[10]">
    <div class="text-center w-full">
        <h2 class="text-5xl font-semibold mb-10">Why Choose Arts Oven?</h2>
        <h3 class="text-2xl mb-10 bg-gradient-to-r from-primary to-orange-300 inline-block text-transparent bg-clip-text">It's Ultra Lightweight</h3>
    </div>

    <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-6 my-10 items-center">
        <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
            <span class="text-9xl font-mono text-card-soft-light block mb-4">.4b</span>
            <h3 class="text-2xl font-semibold mb-6">LightWeight</h3>
            <p class="text-lg text-gray-400">ArtsOvenUI adopts Tailwind's utility-first CSS approach, giving you full control over your
                design. Each
                component is highly flexible and customizable, allowing you to extend or modify it as per your project
                requirements.</p>
        </div>

        <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border-2 border-primary p-6 md:-mt-10">
            <span class="text-9xl font-mono text-primary block mb-4">0</span>
            <h3 class="text-2xl font-semibold mb-6">JavaScript</h3>
            <p class="text-lg text-gray-400">ArtsOvenUI does not rely on JavaScript for its components, ensuring better compatibility and
                performance. You have complete control over behavior and logic with your preferred JavaScript framework.</p>
        </div>

        <div class="bg-gradient-to-br from-card from-60% to-card-light text-white rounded-xl border border-border-light p-6">
            <span class="text-9xl font-mono text-card-soft-light block mb-4">No</span>
            <h3 class="text-2xl font-semibold mb-6">Dependencies</h3>
            <p class="text-lg text-gray-400">ArtsOvenUI works independently and doesn't rely on any third-party libraries. You can drop it
                into any project without worrying about dependency conflicts.</p>
        </div>
    </div>
</div>