---
interface Props {
	icon?: keyof typeof Icons;
	title: string;
}

const { icon, title } = Astro.props;
---

<article class="canvas-bg bg-base-100 flex rounded-b-xl justify-center items-center min-h-36 w-full">
	<!--<p class="title flex items-center justify-center">-->
	<!--	{icon && <Icon name={icon} class="icon" size="1.333em" />}-->
	<!--	<span set:html={title} />-->
	<!--</p>-->
	<div class="body w-full p-6"><slot /></div>
</article>
