---

---

<div class="py-10">
    <h2 class="text-5xl font-semibold mb-6 text-center">
        Experience The Magic 🪄<br>
        of Arts Oven
    </h2>
    <p class="text-xl max-w-4xl mx-auto text-center">Dive into a collection of beautifully crafted components and
        seamless themes that bring your projects to life with style and functionality.</p>

    <div class="window mt-10">
        <div class="tile-bar">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="window-content relative">
            <div class="grid grid-cols-4 gap-4 w-full items-start">

                <div>
                    <div class="card w-full">
                        <img src="https://images.unsplash.com/photo-1643584549066-fc993fc9cb43?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
                        <div class="card-body">
                            <h2 class="card-title flex items-center gap-2">Hello world! <span class="badge badge-error">New</span>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="card-footer justify-end">
                                <button class="btn btn-primary">Add Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-4 items-start mt-6 border border-base-300 p-4 rounded-[var(--border-radius)]">
                        <input type="checkbox" name="gender" class="form-switch"/>
                        <label>Send me updates</label>
                    </div>
                </div>

                <div class="col-span-2">
                    <div class="alert alert-outline-success mt-0" role="alert">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.37988 12.0001L10.7899 14.4201L15.6199 9.58008" stroke="currentColor"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.7499 2.45007C11.4399 1.86007 12.5699 1.86007 13.2699 2.45007L14.8499 3.81007C15.1499 4.07007 15.7099 4.28007 16.1099 4.28007H17.8099C18.8699 4.28007 19.7399 5.15007 19.7399 6.21007V7.91007C19.7399 8.30007 19.9499 8.87007 20.2099 9.17007L21.5699 10.7501C22.1599 11.4401 22.1599 12.5701 21.5699 13.2701L20.2099 14.8501C19.9499 15.1501 19.7399 15.7101 19.7399 16.1101V17.8101C19.7399 18.8701 18.8699 19.7401 17.8099 19.7401H16.1099C15.7199 19.7401 15.1499 19.9501 14.8499 20.2101L13.2699 21.5701C12.5799 22.1601 11.4499 22.1601 10.7499 21.5701L9.16988 20.2101C8.86988 19.9501 8.30988 19.7401 7.90988 19.7401H6.17988C5.11988 19.7401 4.24988 18.8701 4.24988 17.8101V16.1001C4.24988 15.7101 4.03988 15.1501 3.78988 14.8501L2.43988 13.2601C1.85988 12.5701 1.85988 11.4501 2.43988 10.7601L3.78988 9.17007C4.03988 8.87007 4.24988 8.31007 4.24988 7.92007V6.20007C4.24988 5.14007 5.11988 4.27007 6.17988 4.27007H7.90988C8.29988 4.27007 8.86988 4.06007 9.16988 3.80007L10.7499 2.45007Z"
                                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        <span>This is simple alert</span>
                    </div>
                    <div class="form-group">
                        <div>
                            <label class="form-label mb-1">First Name</label>
                            <input class="form-input" type="text" placeholder="Ozzy"/>
                        </div>

                        <div>
                            <label class="form-label mb-1">Last Name</label>
                            <input class="form-input" type="text" placeholder="Mac"/>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <div>
                            <label class="form-label mb-1">Gender</label>
                            <select class="form-input">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>

                        <div>
                            <label class="form-label mb-1">Email</label>
                            <input class="form-input" type="email" placeholder="example@email.com"/>
                        </div>

                        <div class="col-span-2">
                            <label class="form-label mb-1">About</label>
                            <textarea class="form-input" placeholder="About yourself"></textarea>
                        </div>
                    </div>
                    <div class="gap-4 flex flex-wrap mt-6">
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-error">Error</button>
                    </div>
                    <div class="mt-6">
                        <progress class="progress progress-success" id="progressBar" max="100"></progress>
                        <div class="flex justify-between">
                            <span class="text-sm">Light</span>
                            <span class="text-sm">Eco</span>
                            <span class="text-sm">Merble</span>
                            <span class="text-sm">Vintage</span>
                            <span class="text-sm">Dark</span>
                        </div>
                    </div>
                </div>

                <div class="card w-full">
                    <img src="https://images.unsplash.com/photo-1569670380856-5f541c74121d?q=80&w=3765&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="Card Image"/>
                    <div class="card-img-overlay">
                        <div class="card-body">
                            <h2 class="card-title">Hello world!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<style>
    /* Base style for hidden letters */
    .title-letter {
        opacity: 0;
        transform: translateY(100px);
        transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    }

</style>
