---
---
<div class="py-6">
    <span>Change theme</span>
    <div class="flex space-x-4">
        <button data-set-theme="light" data-act-class="ACTIVECLASS">Light</button>
        <button data-set-theme="dark" data-act-class="ACTIVECLASS">Dark</button>
        <button data-set-theme="marble" data-act-class="ACTIVECLASS">Marble</button>
    </div>
</div>